header {
    background: url('img/header_view.jpg');
    padding: 50px;
    background-size: cover;
}

body {
    background-color: rgb(204, 195, 195);
}

h1 {
    color: wheat;
    margin: 60px 0px 10px 0px;
} 

img {
    border: 5px rgb(204, 195, 195);
}

.profile-image {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-color: rgb(204, 195, 195);
    border-style: solid;
    border-radius: 50%;
    border-width: 5px;
    margin: 20px 0px 20px 40px;
}
